{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title></title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'doctor.css' %}" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<script>
    $(document).ready(function () {
        $("#newblog").hide();
        $("#new").click(function () {
            $("#newblog").show();
        });
        $("#cancel").click(function () {
            $("#newblog").hide();
        });
    });
</script>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/doctor/{{ user.id }}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doctor/{{ user.id }}/drafts">Drafts</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/doctor/{{ user.id }}/blogs">My Blogs</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <h1>Hi doctor {{ user.firstname }} {{ user.lastname }}</h1>
    <img src="{{ user.profilepicture.url}}" />
    
    <script src="{% static 'bootstrap.min.js' %}" async defer></script>
</body>

</html>